<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Activity</title>
	    <link th:substituteby="common/tag :: header_link" />
	</head>

	<body>
		<h1>新增活動</h1>
	    <form action="#" th:action="@{/activity/create}" th:object="${activity}" method="post">
	    	<div class="form-group">
	    		<label for="inputLatitude">緯度</label> 
	    		<input type="text" class="form-control" id="inputLatitude" placeholder="Enter latitude" th:field="*{latitude}" />
	    	</div>
	    	
	    	<div class="form-group">
	        	<label for="inputLongitude">經度</label> 
	        	<input type="text" class="form-control" id="inputLongitude" placeholder="Enter longitude" th:field="*{longitude}" />
	        </div>
	        
	        <div class="form-group">
	        	<label for="inputName">活動名稱</label> 
	        	<input type="text" class="form-control" id="inputName" placeholder="Enter name" th:field="*{name}" />
	        </div>
	        
	        <div class="form-group">
	        	<label for="inputNumberOfPeople">人數</label>
	        	<input type="text" class="form-control" id="inputNumberOfPeople" placeholder="Enter number of people" th:field="*{numberOfPeople}" />
	        </div>
	        
	        <div class="form-group">
  				<label for="comment">說明</label>
  				<textarea class="form-control" rows="5" id="comment" th:field="*{remark}"></textarea>
			</div>
	        
	        <button type="submit" class="btn btn-defaule">Submit</button> 
	        <button type="reset" class="btn btn-default">Reset</button>
	    </form>
	    
	    <!-- Load script at the end of the body, will speed up the page loading -->
		<div th:substituteby="common/tag :: body_tail"></div>
	</body>
</html>