<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:include="fragments/js :: jquerys"></div>
	<div th:include="fragments/js :: bootstrap"></div>

	<head>
		<title>Event</title>
  		<object th:include="fragments/header :: common_header" th:remove="tag" ></object>
	</head>

	<body>
		<h1>留言</h1>
	    <form action="#" th:action="@{/message/leave-from-web}" th:object="${message}" method="post">
	    	<div class="form-group">
	    		<label for="inputCreateUserId">建立使用者ID</label> 
	    		<input type="text" class="form-control" id="inputCreateUserId" placeholder="Enter create user ID" th:field="*{createUserId}" />
	    	</div>
	    	
	    	<div class="form-group">
  				<label for="inputContent">內容</label>
  				<textarea class="form-control" rows="5" id="inputContent" th:field="*{content}"></textarea>
			</div>
	    
	        <button type="submit" class="btn btn-defaule">Submit</button> 
	        <button type="reset" class="btn btn-default">Reset</button>
	    </form>
	</body>
</html>