<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:include="fragments/js :: jquerys"></div>
	<div th:include="fragments/js :: bootstrap"></div>

	<head>
		<title>Testing user page</title>
		<object th:include="fragments/header :: common_header" th:remove="tag" ></object>
	</head>

	<body>
		<h1>註冊</h1>
		<form action="#" th:action="@{/user/register}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="inputEmail">Email address</label>
				<input type="text" class="form-control" id="inputEmail" placeholder="Enter email" th:field="*{email}" />
			</div>
			<div class="form-group">
				<label for="inputPwd">Password</label>
				<input type="password" class="form-control" id="inputPwd" placeholder="Enter password" th:field="*{password}" />
			</div>
			<div class="form-group">
				<label for="inputName">Name</label>
				<input type="text" class="form-control" id="inputName" placeholder="Enter name" th:field="*{name}" />
			</div>
	
			<button type="submit" class="btn btn-default">Submit</button>
			<button type="reset" class="btn btn-default">Reset</button>
	
		</form>
	
		<h1>查詢</h1>
		<form action="#" th:action="@{/user/find-by-email}" method="post">
			<div class="form-group">
				<label for="findByEmail">Email address</label>
				<input type="text" class="form-control" id="inputQryEmail" name="email" placeholder="Enter email" />
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
			<button type="reset" class="btn btn-default">Reset</button>
		</form>
	</body>
</html>